.usuario-info {
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: flex-end; /* Alinear los elementos a la derecha */
    align-items: center; /* Centrar los elementos verticalmente */
    padding-right: 20px; /* Añadir espacio a la derecha */
}

.saludo-usuario {
    font-size: 1.2em; /* Aumentar el tamaño de la fuente */
    color: #333; /* Cambiar el color del texto */
    margin-right: 10px; /* Añadir margen a la derecha del saludo */
}

.boton-cerrar-sesion {
    background-color: #0097A7; /* Color de fondo para el botón */
    color: white; /* Color de texto para el botón */
    text-decoration: none; /* Quitar subrayado del enlace */
    padding: 5px 10px; /* Añadir padding alrededor del texto */
    border-radius: 5px; /* Redondear las esquinas del botón */
    font-weight: bold; /* Hacer el texto en negrita */
    transition: background-color 0.3s; /* Suavizar la transición de color */
}

.boton-cerrar-sesion:hover {
    background-color: #d32f2f; /* Cambiar el color de fondo al pasar el ratón */
}
